[submodule "app-elements"]
	path = app-elements
	url = ./ContributionGuide
[submodule "ContributionGuide"]
	path = ContributionGuide
	url = ./ContributionGuide
[submodule "app-layout"]
	path = app-layout
	url = ./app-layout
[submodule "app-layout-templates"]
	path = app-layout-templates
	url = ./app-layout-templates
[submodule "app-localize-behavior"]
	path = app-localize-behavior
	url = ./app-localize-behavior
[submodule "app-media"]
	path = app-media
	url = ./app-media
[submodule "app-pouchdb"]
	path = app-pouchdb
	url = ./app-pouchdb
[submodule "app-route"]
	path = app-route
	url = ./app-route
[submodule "app-storage"]
	path = app-storage
	url = ./app-storage
[submodule "chartjs-element"]
	path = chartjs-element
	url = ./chartjs-element
[submodule "data-elements"]
	path = data-elements
	url = ./data-elements
[submodule "font-roboto"]
	path = font-roboto
	url = ./font-roboto
[submodule "font-roboto-local"]
	path = font-roboto-local
	url = ./font-roboto-local
[submodule "generator-polymer-init-custom-build"]
	path = generator-polymer-init-custom-build
	url = ./generator-polymer-init-custom-build
[submodule "generator-polymer-init-polymer-1"]
	path = generator-polymer-init-polymer-1
	url = ./generator-polymer-init-polymer-1
[submodule "gold-cc-cvc-input"]
	path = gold-cc-cvc-input
	url = ./gold-cc-cvc-input
[submodule "gold-cc-expiration-input"]
	path = gold-cc-expiration-input
	url = ./gold-cc-expiration-input
[submodule "gold-cc-input"]
	path = gold-cc-input
	url = ./gold-cc-input
[submodule "gold-elements"]
	path = gold-elements
	url = ./gold-elements
[submodule "gold-email-input"]
	path = gold-email-input
	url = ./gold-email-input
[submodule "gold-phone-input"]
	path = gold-phone-input
	url = ./gold-phone-input
[submodule "gold-zip-input"]
	path = gold-zip-input
	url = ./gold-zip-input
[submodule "iron-a11y-announcer"]
	path = iron-a11y-announcer
	url = ./iron-a11y-announcer
[submodule "iron-a11y-keys"]
	path = iron-a11y-keys
	url = ./iron-a11y-keys
[submodule "iron-a11y-keys-behavior"]
	path = iron-a11y-keys-behavior
	url = ./iron-a11y-keys-behavior
[submodule "iron-ajax"]
	path = iron-ajax
	url = ./iron-ajax
[submodule "iron-autogrow-textarea"]
	path = iron-autogrow-textarea
	url = ./iron-autogrow-textarea
[submodule "iron-behaviors"]
	path = iron-behaviors
	url = ./iron-behaviors
[submodule "iron-behaviors-collection"]
	path = iron-behaviors-collection
	url = ./iron-behaviors-collection
[submodule "iron-checked-element-behavior"]
	path = iron-checked-element-behavior
	url = ./iron-checked-element-behavior
[submodule "iron-collapse"]
	path = iron-collapse
	url = ./iron-collapse
[submodule "iron-component-page"]
	path = iron-component-page
	url = ./iron-component-page
[submodule "iron-demo-helpers"]
	path = iron-demo-helpers
	url = ./iron-demo-helpers
[submodule "iron-doc-viewer"]
	path = iron-doc-viewer
	url = ./iron-doc-viewer
[submodule "iron-dropdown"]
	path = iron-dropdown
	url = ./iron-dropdown
[submodule "iron-elements"]
	path = iron-elements
	url = ./iron-elements
[submodule "iron-fit-behavior"]
	path = iron-fit-behavior
	url = ./iron-fit-behavior
[submodule "iron-flex-layout"]
	path = iron-flex-layout
	url = ./iron-flex-layout
[submodule "iron-form"]
	path = iron-form
	url = ./iron-form
[submodule "iron-form-element-behavior"]
	path = iron-form-element-behavior
	url = ./iron-form-element-behavior
[submodule "iron-icon"]
	path = iron-icon
	url = ./iron-icon
[submodule "iron-icons"]
	path = iron-icons
	url = ./iron-icons
[submodule "iron-iconset"]
	path = iron-iconset
	url = ./iron-iconset
[submodule "iron-iconset-svg"]
	path = iron-iconset-svg
	url = ./iron-iconset-svg
[submodule "iron-image"]
	path = iron-image
	url = ./iron-image
[submodule "iron-input"]
	path = iron-input
	url = ./iron-input
[submodule "iron-input-elements"]
	path = iron-input-elements
	url = ./iron-input-elements
[submodule "iron-jsonp-library"]
	path = iron-jsonp-library
	url = ./iron-jsonp-library
[submodule "iron-label"]
	path = iron-label
	url = ./iron-label
[submodule "iron-list"]
	path = iron-list
	url = ./iron-list
[submodule "iron-localstorage"]
	path = iron-localstorage
	url = ./iron-localstorage
[submodule "iron-location"]
	path = iron-location
	url = ./iron-location
[submodule "iron-media-query"]
	path = iron-media-query
	url = ./iron-media-query
[submodule "iron-menu-behavior"]
	path = iron-menu-behavior
	url = ./iron-menu-behavior
[submodule "iron-meta"]
	path = iron-meta
	url = ./iron-meta
[submodule "iron-overlay-behavior"]
	path = iron-overlay-behavior
	url = ./iron-overlay-behavior
[submodule "iron-pages"]
	path = iron-pages
	url = ./iron-pages
[submodule "iron-range-behavior"]
	path = iron-range-behavior
	url = ./iron-range-behavior
[submodule "iron-resizable-behavior"]
	path = iron-resizable-behavior
	url = ./iron-resizable-behavior
[submodule "iron-scroll-target-behavior"]
	path = iron-scroll-target-behavior
	url = ./iron-scroll-target-behavior
[submodule "iron-scroll-threshold"]
	path = iron-scroll-threshold
	url = ./iron-scroll-threshold
[submodule "iron-selector"]
	path = iron-selector
	url = ./iron-selector
[submodule "iron-signals"]
	path = iron-signals
	url = ./iron-signals
[submodule "iron-swipeable-container"]
	path = iron-swipeable-container
	url = ./iron-swipeable-container
[submodule "iron-test-helpers"]
	path = iron-test-helpers
	url = ./iron-test-helpers
[submodule "iron-validatable-behavior"]
	path = iron-validatable-behavior
	url = ./iron-validatable-behavior
[submodule "iron-validator-behavior"]
	path = iron-validator-behavior
	url = ./iron-validator-behavior
[submodule "layout-elements"]
	path = layout-elements
	url = ./layout-elements
[submodule "marked-element"]
	path = marked-element
	url = ./marked-element
[submodule "molecules"]
	path = molecules
	url = ./molecules
[submodule "neon-animation"]
	path = neon-animation
	url = ./neon-animation
[submodule "neon-elements"]
	path = neon-elements
	url = ./neon-elements
[submodule "paper-badge"]
	path = paper-badge
	url = ./paper-badge
[submodule "paper-behaviors"]
	path = paper-behaviors
	url = ./paper-behaviors
[submodule "paper-button"]
	path = paper-button
	url = ./paper-button
[submodule "paper-card"]
	path = paper-card
	url = ./paper-card
[submodule "paper-checkbox"]
	path = paper-checkbox
	url = ./paper-checkbox
[submodule "paper-dialog"]
	path = paper-dialog
	url = ./paper-dialog
[submodule "paper-dialog-behavior"]
	path = paper-dialog-behavior
	url = ./paper-dialog-behavior
[submodule "paper-dialog-scrollable"]
	path = paper-dialog-scrollable
	url = ./paper-dialog-scrollable
[submodule "paper-drawer-panel"]
	path = paper-drawer-panel
	url = ./paper-drawer-panel
[submodule "paper-dropdown-menu"]
	path = paper-dropdown-menu
	url = ./paper-dropdown-menu
[submodule "paper-elements"]
	path = paper-elements
	url = ./paper-elements
[submodule "paper-fab"]
	path = paper-fab
	url = ./paper-fab
[submodule "paper-header-panel"]
	path = paper-header-panel
	url = ./paper-header-panel
[submodule "paper-icon-button"]
	path = paper-icon-button
	url = ./paper-icon-button
[submodule "paper-input"]
	path = paper-input
	url = ./paper-input
[submodule "paper-input-elements"]
	path = paper-input-elements
	url = ./paper-input-elements
[submodule "paper-item"]
	path = paper-item
	url = ./paper-item
[submodule "paper-linear-progress"]
	path = paper-linear-progress
	url = ./paper-linear-progress
[submodule "paper-listbox"]
	path = paper-listbox
	url = ./paper-listbox
[submodule "paper-material"]
	path = paper-material
	url = ./paper-material
[submodule "paper-menu"]
	path = paper-menu
	url = ./paper-menu
[submodule "paper-menu-button"]
	path = paper-menu-button
	url = ./paper-menu-button
[submodule "paper-overlay-elements"]
	path = paper-overlay-elements
	url = ./paper-overlay-elements
[submodule "paper-progress"]
	path = paper-progress
	url = ./paper-progress
[submodule "paper-radio-button"]
	path = paper-radio-button
	url = ./paper-radio-button
[submodule "paper-radio-group"]
	path = paper-radio-group
	url = ./paper-radio-group
[submodule "paper-ripple"]
	path = paper-ripple
	url = ./paper-ripple
[submodule "paper-scroll-header-panel"]
	path = paper-scroll-header-panel
	url = ./paper-scroll-header-panel
