[submodule "ContributionGuide"]
	path = ContributionGuide
	url = https://github.com/PolymerElements/ContributionGuide.git
[submodule "app-elements"]
	path = app-elements
	url = https://github.com/PolymerElements/app-elements.git
[submodule "app-layout"]
	path = app-layout
	url = https://github.com/PolymerElements/app-layout.git
[submodule "app-layout-templates"]
	path = app-layout-templates
	url = https://github.com/PolymerElements/app-layout-templates.git
[submodule "app-localize-behavior"]
	path = app-localize-behavior
	url = https://github.com/PolymerElements/app-localize-behavior.git
[submodule "app-media"]
	path = app-media
	url = https://github.com/PolymerElements/app-media.git
[submodule "app-pouchdb"]
	path = app-pouchdb
	url = https://github.com/PolymerElements/app-pouchdb.git
[submodule "app-route"]
	path = app-route
	url = https://github.com/PolymerElements/app-route.git
[submodule "app-storage"]
	path = app-storage
	url = https://github.com/PolymerElements/app-storage.git
[submodule "chartjs-element"]
	path = chartjs-element
	url = https://github.com/PolymerElements/chartjs-element.git
[submodule "data-elements"]
	path = data-elements
	url = https://github.com/PolymerElements/data-elements.git
[submodule "font-roboto"]
	path = font-roboto
	url = https://github.com/PolymerElements/font-roboto.git
[submodule "font-roboto-local"]
	path = font-roboto-local
	url = https://github.com/PolymerElements/font-roboto-local.git
[submodule "generator-polymer-init-custom-build"]
	path = generator-polymer-init-custom-build
	url = https://github.com/PolymerElements/generator-polymer-init-custom-build.git
[submodule "generator-polymer-init-polymer-1"]
	path = generator-polymer-init-polymer-1
	url = https://github.com/PolymerElements/generator-polymer-init-polymer-1.git
[submodule "gold-cc-cvc-input"]
	path = gold-cc-cvc-input
	url = https://github.com/PolymerElements/gold-cc-cvc-input.git
[submodule "gold-cc-expiration-input"]
	path = gold-cc-expiration-input
	url = https://github.com/PolymerElements/gold-cc-expiration-input.git
[submodule "gold-cc-input"]
	path = gold-cc-input
	url = https://github.com/PolymerElements/gold-cc-input.git
[submodule "gold-elements"]
	path = gold-elements
	url = https://github.com/PolymerElements/gold-elements.git
[submodule "gold-email-input"]
	path = gold-email-input
	url = https://github.com/PolymerElements/gold-email-input.git
[submodule "gold-phone-input"]
	path = gold-phone-input
	url = https://github.com/PolymerElements/gold-phone-input.git
[submodule "gold-zip-input"]
	path = gold-zip-input
	url = https://github.com/PolymerElements/gold-zip-input.git
[submodule "iron-a11y-announcer"]
	path = iron-a11y-announcer
	url = https://github.com/PolymerElements/iron-a11y-announcer.git
[submodule "iron-a11y-keys"]
	path = iron-a11y-keys
	url = https://github.com/PolymerElements/iron-a11y-keys.git
[submodule "iron-a11y-keys-behavior"]
	path = iron-a11y-keys-behavior
	url = https://github.com/PolymerElements/iron-a11y-keys-behavior.git
[submodule "iron-ajax"]
	path = iron-ajax
	url = https://github.com/PolymerElements/iron-ajax.git
[submodule "iron-autogrow-textarea"]
	path = iron-autogrow-textarea
	url = https://github.com/PolymerElements/iron-autogrow-textarea.git
[submodule "iron-behaviors"]
	path = iron-behaviors
	url = https://github.com/PolymerElements/iron-behaviors.git
[submodule "iron-behaviors-collection"]
	path = iron-behaviors-collection
	url = https://github.com/PolymerElements/iron-behaviors-collection.git
[submodule "iron-checked-element-behavior"]
	path = iron-checked-element-behavior
	url = https://github.com/PolymerElements/iron-checked-element-behavior.git
[submodule "iron-collapse"]
	path = iron-collapse
	url = https://github.com/PolymerElements/iron-collapse.git
[submodule "iron-component-page"]
	path = iron-component-page
	url = https://github.com/PolymerElements/iron-component-page.git
[submodule "iron-demo-helpers"]
	path = iron-demo-helpers
	url = https://github.com/PolymerElements/iron-demo-helpers.git
[submodule "iron-doc-viewer"]
	path = iron-doc-viewer
	url = https://github.com/PolymerElements/iron-doc-viewer.git
[submodule "iron-dropdown"]
	path = iron-dropdown
	url = https://github.com/PolymerElements/iron-dropdown.git
[submodule "iron-elements"]
	path = iron-elements
	url = https://github.com/PolymerElements/iron-elements.git
[submodule "iron-fit-behavior"]
	path = iron-fit-behavior
	url = https://github.com/PolymerElements/iron-fit-behavior.git
[submodule "iron-flex-layout"]
	path = iron-flex-layout
	url = https://github.com/PolymerElements/iron-flex-layout.git
[submodule "iron-form"]
	path = iron-form
	url = https://github.com/PolymerElements/iron-form.git
[submodule "iron-form-element-behavior"]
	path = iron-form-element-behavior
	url = https://github.com/PolymerElements/iron-form-element-behavior.git
[submodule "iron-icon"]
	path = iron-icon
	url = https://github.com/PolymerElements/iron-icon.git
[submodule "iron-icons"]
	path = iron-icons
	url = https://github.com/PolymerElements/iron-icons.git
[submodule "iron-iconset"]
	path = iron-iconset
	url = https://github.com/PolymerElements/iron-iconset.git
[submodule "iron-iconset-svg"]
	path = iron-iconset-svg
	url = https://github.com/PolymerElements/iron-iconset-svg.git
[submodule "iron-image"]
	path = iron-image
	url = https://github.com/PolymerElements/iron-image.git
[submodule "iron-input"]
	path = iron-input
	url = https://github.com/PolymerElements/iron-input.git
[submodule "iron-input-elements"]
	path = iron-input-elements
	url = https://github.com/PolymerElements/iron-input-elements.git
[submodule "iron-jsonp-library"]
	path = iron-jsonp-library
	url = https://github.com/PolymerElements/iron-jsonp-library.git
[submodule "iron-label"]
	path = iron-label
	url = https://github.com/PolymerElements/iron-label.git
[submodule "iron-list"]
	path = iron-list
	url = https://github.com/PolymerElements/iron-list.git
[submodule "iron-localstorage"]
	path = iron-localstorage
	url = https://github.com/PolymerElements/iron-localstorage.git
[submodule "iron-location"]
	path = iron-location
	url = https://github.com/PolymerElements/iron-location.git
[submodule "iron-media-query"]
	path = iron-media-query
	url = https://github.com/PolymerElements/iron-media-query.git
[submodule "iron-menu-behavior"]
	path = iron-menu-behavior
	url = https://github.com/PolymerElements/iron-menu-behavior.git
[submodule "iron-meta"]
	path = iron-meta
	url = https://github.com/PolymerElements/iron-meta.git
[submodule "iron-overlay-behavior"]
	path = iron-overlay-behavior
	url = https://github.com/PolymerElements/iron-overlay-behavior.git
[submodule "iron-pages"]
	path = iron-pages
	url = https://github.com/PolymerElements/iron-pages.git
[submodule "iron-range-behavior"]
	path = iron-range-behavior
	url = https://github.com/PolymerElements/iron-range-behavior.git
[submodule "iron-resizable-behavior"]
	path = iron-resizable-behavior
	url = https://github.com/PolymerElements/iron-resizable-behavior.git
[submodule "iron-scroll-target-behavior"]
	path = iron-scroll-target-behavior
	url = https://github.com/PolymerElements/iron-scroll-target-behavior.git
[submodule "iron-scroll-threshold"]
	path = iron-scroll-threshold
	url = https://github.com/PolymerElements/iron-scroll-threshold.git
[submodule "iron-selector"]
	path = iron-selector
	url = https://github.com/PolymerElements/iron-selector.git
[submodule "iron-signals"]
	path = iron-signals
	url = https://github.com/PolymerElements/iron-signals.git
[submodule "iron-swipeable-container"]
	path = iron-swipeable-container
	url = https://github.com/PolymerElements/iron-swipeable-container.git
[submodule "iron-test-helpers"]
	path = iron-test-helpers
	url = https://github.com/PolymerElements/iron-test-helpers.git
[submodule "iron-validatable-behavior"]
	path = iron-validatable-behavior
	url = https://github.com/PolymerElements/iron-validatable-behavior.git
[submodule "iron-validator-behavior"]
	path = iron-validator-behavior
	url = https://github.com/PolymerElements/iron-validator-behavior.git
[submodule "layout-elements"]
	path = layout-elements
	url = https://github.com/PolymerElements/layout-elements.git
[submodule "marked-element"]
	path = marked-element
	url = https://github.com/PolymerElements/marked-element.git
[submodule "molecules"]
	path = molecules
	url = https://github.com/PolymerElements/molecules.git
[submodule "neon-animation"]
	path = neon-animation
	url = https://github.com/PolymerElements/neon-animation.git
[submodule "neon-elements"]
	path = neon-elements
	url = https://github.com/PolymerElements/neon-elements.git
[submodule "paper-badge"]
	path = paper-badge
	url = https://github.com/PolymerElements/paper-badge.git
[submodule "paper-behaviors"]
	path = paper-behaviors
	url = https://github.com/PolymerElements/paper-behaviors.git
[submodule "paper-button"]
	path = paper-button
	url = https://github.com/PolymerElements/paper-button.git
[submodule "paper-card"]
	path = paper-card
	url = https://github.com/PolymerElements/paper-card.git
[submodule "paper-checkbox"]
	path = paper-checkbox
	url = https://github.com/PolymerElements/paper-checkbox.git
[submodule "paper-dialog"]
	path = paper-dialog
	url = https://github.com/PolymerElements/paper-dialog.git
[submodule "paper-dialog-behavior"]
	path = paper-dialog-behavior
	url = https://github.com/PolymerElements/paper-dialog-behavior.git
[submodule "paper-dialog-scrollable"]
	path = paper-dialog-scrollable
	url = https://github.com/PolymerElements/paper-dialog-scrollable.git
[submodule "paper-drawer-panel"]
	path = paper-drawer-panel
	url = https://github.com/PolymerElements/paper-drawer-panel.git
[submodule "paper-dropdown-menu"]
	path = paper-dropdown-menu
	url = https://github.com/PolymerElements/paper-dropdown-menu.git
[submodule "paper-elements"]
	path = paper-elements
	url = https://github.com/PolymerElements/paper-elements.git
[submodule "paper-fab"]
	path = paper-fab
	url = https://github.com/PolymerElements/paper-fab.git
[submodule "paper-header-panel"]
	path = paper-header-panel
	url = https://github.com/PolymerElements/paper-header-panel.git
[submodule "paper-icon-button"]
	path = paper-icon-button
	url = https://github.com/PolymerElements/paper-icon-button.git
[submodule "paper-input"]
	path = paper-input
	url = https://github.com/PolymerElements/paper-input.git
[submodule "paper-input-elements"]
	path = paper-input-elements
	url = https://github.com/PolymerElements/paper-input-elements.git
[submodule "paper-item"]
	path = paper-item
	url = https://github.com/PolymerElements/paper-item.git
[submodule "paper-linear-progress"]
	path = paper-linear-progress
	url = https://github.com/PolymerElements/paper-linear-progress.git
[submodule "paper-listbox"]
	path = paper-listbox
	url = https://github.com/PolymerElements/paper-listbox.git
[submodule "paper-material"]
	path = paper-material
	url = https://github.com/PolymerElements/paper-material.git
[submodule "paper-menu"]
	path = paper-menu
	url = https://github.com/PolymerElements/paper-menu.git
[submodule "paper-menu-button"]
	path = paper-menu-button
	url = https://github.com/PolymerElements/paper-menu-button.git
[submodule "paper-overlay-elements"]
	path = paper-overlay-elements
	url = https://github.com/PolymerElements/paper-overlay-elements.git
[submodule "paper-progress"]
	path = paper-progress
	url = https://github.com/PolymerElements/paper-progress.git
[submodule "paper-radio-button"]
	path = paper-radio-button
	url = https://github.com/PolymerElements/paper-radio-button.git
[submodule "paper-radio-group"]
	path = paper-radio-group
	url = https://github.com/PolymerElements/paper-radio-group.git
[submodule "paper-ripple"]
	path = paper-ripple
	url = https://github.com/PolymerElements/paper-ripple.git
[submodule "paper-scroll-header-panel"]
	path = paper-scroll-header-panel
	url = https://github.com/PolymerElements/paper-scroll-header-panel.git
[submodule "vaadin-icons"]
	path = vaadin-icons
	url = https://github.com/vaadin/vaadin-icons
[submodule "social-media-icons"]
	path = social-media-icons
	url = https://github.com/phani1kumar/social-media-icons
[submodule "vaadin-split-layout"]
	path = vaadin-split-layout
	url = https://github.com/vaadin/vaadin-split-layout
[submodule "polymer-sortablejs"]
	path = polymer-sortablejs
	url = https://github.com/SortableJS/polymer-sortablejs
[submodule "webcomponentsjs"]
	path = webcomponentsjs
	url = https://github.com/webcomponents/webcomponentsjs
[submodule "paper-tags-input"]
	path = paper-tags-input
	url = https://github.com/hullo-ai/paper-tags-input
[submodule "polymer-redux"]
	path = polymer-redux
	url = https://github.com/tur-nr/polymer-redux
[submodule "angular-interop"]
	path = angular-interop
	url = https://github.com/webcomponents/angular-interop
[submodule "apply-shim"]
	path = apply-shim
	url = https://github.com/webcomponents/apply-shim
[submodule "chrome-webcomponents-extension"]
	path = chrome-webcomponents-extension
	url = https://github.com/webcomponents/chrome-webcomponents-extension
[submodule "community"]
	path = community
	url = https://github.com/webcomponents/community
[submodule "custom-elements"]
	path = custom-elements
	url = https://github.com/webcomponents/custom-elements
[submodule "element-boilerplate"]
	path = element-boilerplate
	url = https://github.com/webcomponents/element-boilerplate
[submodule "generator-element"]
	path = generator-element
	url = https://github.com/webcomponents/generator-element
[submodule "gold-standard"]
	path = gold-standard
	url = https://github.com/webcomponents/gold-standard
[submodule "hello-world-element"]
	path = hello-world-element
	url = https://github.com/webcomponents/hello-world-element
[submodule "hello-world-polymer"]
	path = hello-world-polymer
	url = https://github.com/webcomponents/hello-world-polymer
[submodule "hello-world-xtag"]
	path = hello-world-xtag
	url = https://github.com/webcomponents/hello-world-xtag
[submodule "html-imports"]
	path = html-imports
	url = https://github.com/webcomponents/html-imports
[submodule "less-interop"]
	path = less-interop
	url = https://github.com/webcomponents/less-interop
[submodule "polymer-boilerplate"]
	path = polymer-boilerplate
	url = https://github.com/webcomponents/polymer-boilerplate
[submodule "react-integration"]
	path = react-integration
	url = https://github.com/webcomponents/react-integration
[submodule "sass-interop"]
	path = sass-interop
	url = https://github.com/webcomponents/sass-interop
[submodule "shadycss"]
	path = shadycss
	url = https://github.com/webcomponents/shadycss
[submodule "shadydom"]
	path = shadydom
	url = https://github.com/webcomponents/shadydom
[submodule "slush-element"]
	path = slush-element
	url = https://github.com/webcomponents/slush-element
[submodule "template"]
	path = template
	url = https://github.com/webcomponents/template
[submodule "URL"]
	path = URL
	url = https://github.com/webcomponents/URL
[submodule "webcomponents-icons"]
	path = webcomponents-icons
	url = https://github.com/webcomponents/webcomponents-icons
[submodule "webcomponents-lite"]
	path = webcomponents-lite
	url = https://github.com/webcomponents/webcomponents-lite
[submodule "webcomponents-platform"]
	path = webcomponents-platform
	url = https://github.com/webcomponents/webcomponents-platform
[submodule "webcomponents.github.io"]
	path = webcomponents.github.io
	url = https://github.com/webcomponents/webcomponents.github.io
[submodule "webcomponents.org"]
	path = webcomponents.org
	url = https://github.com/webcomponents/webcomponents.org
[submodule "xtag-boilerplate"]
	path = xtag-boilerplate
	url = https://github.com/webcomponents/xtag-boilerplate
[submodule "atom-plugin"]
	path = atom-plugin
	url = https://github.com/Polymer/atom-plugin
[submodule "core-overlay"]
	path = core-overlay
	url = https://github.com/Polymer/core-overlay
[submodule "designer"]
	path = designer
	url = https://github.com/Polymer/designer
[submodule "dom5"]
	path = dom5
	url = https://github.com/Polymer/dom5
[submodule "gen-closure-declarations"]
	path = gen-closure-declarations
	url = https://github.com/Polymer/gen-closure-declarations
[submodule "hn-polymer-2"]
	path = hn-polymer-2
	url = https://github.com/Polymer/hn-polymer-2
[submodule "lazy-imports"]
	path = lazy-imports
	url = https://github.com/Polymer/lazy-imports
[submodule "news"]
	path = news
	url = https://github.com/Polymer/news
[submodule "news-docs"]
	path = news-docs
	url = https://github.com/Polymer/news-docs
[submodule "plylog"]
	path = plylog
	url = https://github.com/Polymer/plylog
[submodule "polygit"]
	path = polygit
	url = https://github.com/Polymer/polygit
[submodule "polymer"]
	path = polymer
	url = https://github.com/Polymer/polymer
[submodule "polymer-addons"]
	path = polymer-addons
	url = https://github.com/Polymer/polymer-addons
[submodule "polymer-analyzer"]
	path = polymer-analyzer
	url = https://github.com/Polymer/polymer-analyzer
[submodule "polymer-build"]
	path = polymer-build
	url = https://github.com/Polymer/polymer-build
[submodule "polymer-bundler"]
	path = polymer-bundler
	url = https://github.com/Polymer/polymer-bundler
[submodule "polymer-cli"]
	path = polymer-cli
	url = https://github.com/Polymer/polymer-cli
[submodule "polymer-css-build"]
	path = polymer-css-build
	url = https://github.com/Polymer/polymer-css-build
[submodule "polymer-decorators"]
	path = polymer-decorators
	url = https://github.com/Polymer/polymer-decorators
[submodule "polymer-dev"]
	path = polymer-dev
	url = https://github.com/Polymer/polymer-dev
[submodule "polymer-editor-service"]
	path = polymer-editor-service
	url = https://github.com/Polymer/polymer-editor-service
[submodule "polymer-element-catalog"]
	path = polymer-element-catalog
	url = https://github.com/Polymer/polymer-element-catalog
[submodule "polymer-expressions"]
	path = polymer-expressions
	url = https://github.com/Polymer/polymer-expressions
[submodule "polymer-gestures"]
	path = polymer-gestures
	url = https://github.com/Polymer/polymer-gestures
[submodule "polymer-linter"]
	path = polymer-linter
	url = https://github.com/Polymer/polymer-linter
[submodule "polymer-project-config"]
	path = polymer-project-config
	url = https://github.com/Polymer/polymer-project-config
[submodule "polymer-resin"]
	path = polymer-resin
	url = https://github.com/Polymer/polymer-resin
[submodule "polymer-sublime-plugin"]
	path = polymer-sublime-plugin
	url = https://github.com/Polymer/polymer-sublime-plugin
[submodule "polymer-test-tools"]
	path = polymer-test-tools
	url = https://github.com/Polymer/polymer-test-tools
[submodule "polymer-tutorial"]
	path = polymer-tutorial
	url = https://github.com/Polymer/polymer-tutorial
[submodule "polymer-upgrade"]
	path = polymer-upgrade
	url = https://github.com/Polymer/polymer-upgrade
[submodule "polymer.github.io"]
	path = polymer.github.io
	url = https://github.com/Polymer/polymer.github.io
[submodule "polyserve"]
	path = polyserve
	url = https://github.com/Polymer/polyserve
[submodule "prpl-server-node"]
	path = prpl-server-node
	url = https://github.com/Polymer/prpl-server-node
[submodule "shop"]
	path = shop
	url = https://github.com/Polymer/shop
[submodule "test-fixture"]
	path = test-fixture
	url = https://github.com/Polymer/test-fixture
[submodule "tools-common"]
	path = tools-common
	url = https://github.com/Polymer/tools-common
[submodule "tools-sample-projects"]
	path = tools-sample-projects
	url = https://github.com/Polymer/tools-sample-projects
[submodule "vscode-plugin"]
	path = vscode-plugin
	url = https://github.com/Polymer/vscode-plugin
[submodule "wct-local"]
	path = wct-local
	url = https://github.com/Polymer/wct-local
[submodule "paper-slider"]
	path = paper-slider
	url = https://github.com/PolymerElements/paper-slider
[submodule "paper-spinner"]
	path = paper-spinner
	url = https://github.com/PolymerElements/paper-spinner
[submodule "paper-styles"]
	path = paper-styles
	url = https://github.com/PolymerElements/paper-styles
[submodule "paper-swatch-picker"]
	path = paper-swatch-picker
	url = https://github.com/PolymerElements/paper-swatch-picker
[submodule "paper-tabs"]
	path = paper-tabs
	url = https://github.com/PolymerElements/paper-tabs
[submodule "paper-text-field"]
	path = paper-text-field
	url = https://github.com/PolymerElements/paper-text-field
[submodule "paper-toast"]
	path = paper-toast
	url = https://github.com/PolymerElements/paper-toast
[submodule "paper-toggle-button"]
	path = paper-toggle-button
	url = https://github.com/PolymerElements/paper-toggle-button
[submodule "paper-toolbar"]
	path = paper-toolbar
	url = https://github.com/PolymerElements/paper-toolbar
[submodule "paper-tooltip"]
	path = paper-tooltip
	url = https://github.com/PolymerElements/paper-tooltip
[submodule "paper-ui-elements"]
	path = paper-ui-elements
	url = https://github.com/PolymerElements/paper-ui-elements
[submodule "platinum-bluetooth"]
	path = platinum-bluetooth
	url = https://github.com/PolymerElements/platinum-bluetooth
[submodule "platinum-elements"]
	path = platinum-elements
	url = https://github.com/PolymerElements/platinum-elements
[submodule "platinum-https-redirect"]
	path = platinum-https-redirect
	url = https://github.com/PolymerElements/platinum-https-redirect
[submodule "platinum-push-messaging"]
	path = platinum-push-messaging
	url = https://github.com/PolymerElements/platinum-push-messaging
[submodule "platinum-sw"]
	path = platinum-sw
	url = https://github.com/PolymerElements/platinum-sw
[submodule "polymer-starter-kit"]
	path = polymer-starter-kit
	url = https://github.com/PolymerElements/polymer-starter-kit
[submodule "prism-element"]
	path = prism-element
	url = https://github.com/PolymerElements/prism-element
[submodule "seed-element"]
	path = seed-element
	url = https://github.com/PolymerElements/seed-element
[submodule "style-guide"]
	path = style-guide
	url = https://github.com/PolymerElements/style-guide
[submodule "test-all"]
	path = test-all
	url = https://github.com/PolymerElements/test-all
[submodule "test-benchmark"]
	path = test-benchmark
	url = https://github.com/PolymerElements/test-benchmark
[submodule "marked"]
	path = marked
	url = https://github.com/chjj/marked
[submodule "vaadin-themable-mixin"]
	path = vaadin-themable-mixin
	url = https://github.com/vaadin/vaadin-themable-mixin
[submodule "the-grid"]
	path = the-grid
	url = https://github.com/vpusher/the-grid
